.item-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.item-input input {
  padding: 10px 15px;
  border: 1px solid #e5e3e3;
  outline: none;
  font-size: 1em;
  border-radius: 20px;
  margin-right: 10px;
  width: 100%;
}
