{
  "parser": "babel-eslint",
  "rules": {
  "global-require": 1,
   "no-unused-vars": 0,
   "object-curly-newline": 0,
    "max-len": [
      "error",
      {
        "code": 90,
        "ignoreComments": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "functions": "ignore"
      }
    ]
  },
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "plugin:import/react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".jsx"]
      }
    }
  }
}
