.todo-app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 30%;
}

.todo-app h1 {
  font-size: 1.4em;
  margin-bottom: 50px;
}

.todo-app .todos {
  width: 100%;
  display: flex;
  flex-direction: column;
}