.item-list {
  font-size: 1.1em;
  margin-left: 5px;
}

.item-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-list ul li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.item-list ul li .icon {
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
}

.item-list ul li .remove-icon {
  color: #f21010;
}

.item-list ul li .edit-icon {
  color: #0057c9;
}

.item-list ul li .text {
  margin-left: 20px;
}

.item-list ul li .done {
  color: #adadad;
  text-decoration: line-through;
}

.item-list ul li input {
  padding: 7px;
  border: 1px solid #e5e3e3;
  font-size: 0.9em;
  margin-left: 20px;
  outline: none;
  border-radius: 20px;
}
