.item-status-filter {
  margin-bottom: 15px;
  width: 100%;
}

.item-status-filter button {
  padding: 10px;
  border: none;
  min-width: 50px;
  cursor: pointer;
  background: #dddbdb;
  margin-bottom: 10px;
  font-size: 0.9em;
  border-radius: 20px;
  border: none;
  outline: none;
}

.item-status-filter button.all {
  margin-right: 10px;
}

.item-status-filter button.all-selected {
  margin-right: 10px;
  background: #f2ce63;
}

.item-status-filter button.all:hover {
  background: #f2ce63;
}

.item-status-filter button.todo {
  margin-right: 10px;
}

.item-status-filter button.todo:hover {
  background: #f28282;
}

.item-status-filter button.todo-selected {
  margin-right: 10px;
  background: #f28282;
}

.item-status-filter button.done {
  margin-right: 10px;
}

.item-status-filter button.done:hover {
  background: #69db89;
}

.item-status-filter button.done-selected {
  margin-right: 10px;
  background: #69db89;
}
