.todo-filters {
  margin-bottom: 15px;
  width: 100%;
}

.todo-filters button {
  padding: 10px;
  border: none;
  min-width: 50px;
  cursor: pointer;
  background: #dddbdb;
  margin-bottom: 10px;
  font-size: 0.9em;
  border-radius: 20px;
  border: none;
  outline: none;
}

.todo-filters button:focus {
  outline: none;
}

.todo-filters .all {
  margin-right: 10px;
}

.todo-filters .all-selected {
  margin-right: 10px;
  background: #f2ce63;
}

.todo-filters .all:hover {
  background: #f2ce63;
}

.todo-filters .todo {
  margin-right: 10px;
}

.todo-filters .todo:hover {
  background: #f28282;
}

.todo-filters .todo-selected {
  margin-right: 10px;
  background: #f28282;
}

.todo-filters .done {
  margin-right: 10px;
}

.todo-filters .done:hover {
  background: #69db89;
}

.todo-filters .done-selected {
  margin-right: 10px;
  background: #69db89;
}
